@model Product.DataAccess.ViewModel.CategoryVM

@{
    ViewData["Title"] = "Create";
}

<h4>Add Category</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" data-ajax="true" data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="#content"
              data-ajax-loading="#divloading"
              data-ajax-success="Success"
              data-ajax-failure="Failure">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Category" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-dark">Categories List</a>

            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
    function Success(res) {
        if (res == -1) {
            swal(" ", "اسم الحصان موجود مسبقا", "warning");
        }
        else if (res == -2)
            swal(" ", "رقم الحصان موجود مسبقا", "warning");

        else if (res > 0) {
            resetFields();
            swal({ title: " ", text: "تمت الاضافة بنجاح", type: "success" });

        }
        else swal(" ", "حدث خطأ ", "error");
    }
</script>