@model Product.DataAccess.ViewModel.CategoryVM

<div class="row">
    <h4 class="col-sm-10"> All Categories</h4>
    <a href="/Categories/Create" class="btn btn-sm btn-outline-primary">
        Add Category
    </a>
</div>
<br />
<div id="categoryGrid" style="width:100%;" class="ag-theme-balham"></div>

<script>

    var columnDefs = [
        { headerName: "Id", field: "id" },
        {
            headerName: "Name", field: "name"
        },
        {
            headerName: "Description", field: "description"
        },
        {
            headerName: 'Action', editable: false, suppressSizeToFit: true,
            cellRenderer: function (params) {
                return '<a href="/Categories/Edit/' + params["data"]["id"] + '" class="btn btn-sm btn-outline-primary">Edit</a>&nbsp;'
                    + '<a href="/Categories/Delete/' + params["data"]["id"] + '"  class="btn btn-sm btn-outline-danger btnDelete">Delete</a>&nbsp;'
                    + '<a href="/Categories/Details/' + params["data"]["id"] + '"  class="btn btn-sm btn-outline-success">Details</a>'
                    + '<a href="/Categories/_Edit/' + params["data"]["id"] + '" ajaxType="GET" class="btn btn-secondary btn-sm openModal">edit</a>&nbsp;'

            }

        }
    ];

    var gridOptions = {
        defaultColDef: {
            editable: false,
            enableRowGroup: true,
            enablePivot: true,
            enableValue: true,
            sortable: true,
            resizable: true,
            filter: true,
            flex: 1
        },
        suppressRowClickSelection: true,
        columnDefs: columnDefs,
        paginationPageSize: 20,
        pagination: true,
        getRowHeight: function (params) {
            return 35;
        },
        rowSelection: 'multiple',
        domLayout: 'autoHeight'

    };

    document.addEventListener('DOMContentLoaded', function () {
        var gridDiv = document.querySelector('#categoryGrid');
        new agGrid.Grid(gridDiv, gridOptions);

        agGrid
            .simpleHttpRequest({
                url:
                    'Categories/IndexAjax',
            })
            .then(function (data) {
                gridOptions.api.setRowData(data);
            });
    });

</script>